<div class="container-fluid login-container">
  <div class="login-wrapper">
    <div class="login-img-wrapper">
      <img src="assets/imgs/White.png">
    </div>
    <div class="login-content-wrapper">
      <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
        <div class="input-group">
          <span class="input-group-addon">
	          	<i class="glyphicon glyphicon-user"></i>
	          </span>
          <input id="email" type="text" class="form-control" [(ngModel)]="email" #userEmail="ngModel" name="email" placeholder="Email" required>
        </div>
        <div class="error-class" *ngIf="!userEmail.valid && userEmail.touched">
          Email is required!
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">
	          	<i class="glyphicon glyphicon-lock"></i>
	          </span>
          <input id="password" type="password" [(ngModel)]="password" #userPassword="ngModel" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="error-class" *ngIf="!userPassword.valid && userPassword.touched">
          Password is required!
        </div>
        <div class="f-password">
            <span>Forgot Password?</span>
        </div>
        <div class="login-btn">
          <button type="submit" [disabled]="!newUserForm.form.valid" class="btn btn-primary lg-btn l-right">
            Login
          </button>

          <button type="button"  class="btn btn-primary lg-btn"
          (click) ="onSignUp()">
            Sign Up
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
